services:
  vpn-proxy:
    image: ghcr.io/meek2100/global-protect-proxy:latest
    container_name: globalprotect-vpn
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      - "1080:1080" # SOCKS Proxy
      - "8000:8000" # Captive Portal Dashboard
    environment:
      - VPN_PORTAL=lehvpn.snapone.com
    restart: unless-stopped
