services:
  vpn-proxy:
    image: ghcr.io/meek2100/global-protect-proxy:latest
    container_name: globalprotect-vpn
    cap_add:
      - NET_ADMIN
    sysctls:
      - net.ipv4.ip_forward=1
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      - VPN_PORTAL=vpn.yourcompany.com
    networks:
      globalprotect_network:
        ipv4_address: 192.168.1.155
        mac_address: 02:F5:58:97:8E:88
    restart: unless-stopped

networks:
  globalprotect_network:
    driver: macvlan
    driver_opts:
      parent: "eth0"
    ipam:
      config:
        - subnet: 192.168.1.0/24
          gateway: 192.168.1.1
