services:
  vpn-proxy:
    image: ghcr.io/meek2100/global-protect-proxy:latest
    container_name: globalprotect-vpn
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      - "1080:1080" # Proxy
      - "8001:8001" # Status Dashboard (Changed from 8000)
    environment:
      - VPN_PORTAL=vpn.yourcompany.com
    restart: unless-stopped
